.App {
    display: flex;
    width: 100vw;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.title-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    height: 200px;
    width: 100%;
    background-color: #ED73DC;
}

.chat {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

.image {
    height: 50px;
    margin-top: 30px;
    border-radius: 50px;
}

.form-container {
    display: flex;
    min-height: 270px;
    max-height: 300px;
    margin-top: 30px;
    margin-left: 15px;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F0F0F0;
    border-radius: 5px;
    padding: 30px 20px;
    width: 250px;
    box-shadow: 0 15px 16px .17px rgba(0, 0, 0, 0.05);
}

.user-output {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
    margin-left: 10px;
    align-items: flex-start;
    min-height: 50px;
    width: 17rem;
    border-radius: 5px;
    background-color: #ED73DC;
}

.review {
    display: flex;
    padding: 20px;
    margin-top: 20px;
    margin-left: 10px;
    align-items: center;
    min-height: 50px;
    width: 17rem;
    border-radius: 5px;
    background-color: #F0F0F0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    text-align: center;
}